        <div class="footer-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="footer-widget para-widget">
                            <img src="assets/img/footer-logo.png" class="footer-logo" alt="">
                            <p>Chinese state media captured the severity of the an 
city’s latest air pollution crisis which local authorities 
blamed largely on sand that winds .</p>
                            <p>&copy; 2017 Crazycafe.All Rights Reserved.<br>
Designed by <i class="zmdi zmdi-favorite-outline"></i> <a href="#">crazycafe.net</a></p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="footer-widget list-widget">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">Press Centre</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Travel News</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-widget list-widget">
                            <h4>Recent Posts</h4>
                            <ul>
                                <li><a href="#">Standard Blog Post</a></li>
                                <li><a href="#">Amazing Fullwidth Post</a></li>
                                <li><a href="#">Amazing Place</a></li>
                                <li><a href="#">Quote Post</a></li>
                                <li><a href="#">Link Post</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-widget pink-icon-widget">
                            <h4>Contact Us</h4>
                            <ul>
                                <li><a href="tel:(799)-376-4681">(799) 376-4681</a></li>
                                <li><a href="mailto:Stroman.rogers@gmail.com">Stroman.rogers@gmail.com</a></li>
                                <li><a href="#">6281 Liana Extensions,
Lemkeport, NY </a></li>
                            </ul>
                            
                            <div class="social-links-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
