   <div class="welcome-area">
            <div class="header-area header-absolute">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="logo">
                              <a href="index-2.html"><img src="assets/img/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-8">
                            <div class="mainmenu">
                               <ul id="slicknav-menu-list">
                                   <li><a href="index-2.html">Home</a>
                                       <ul>
                                           <li><a href="index-3.html">Hompage two</a></li>
                                           <li><a href="index-4.html">Hompage three</a></li>
                                       </ul>
                                   </li>
                                   <li><a href="tours.html">Tours</a>
                                       <ul>
                                           <li><a href="tours-details.html">Tours Details</a></li>
                                       </ul>
                                   </li>
                                   <li><a href="about-us.html">About</a></li>
                                   <li><a href="destinations.html">Destination</a></li>
                                   <li><a href="team-member.html">Team</a>
                                       <ul>
                                           <li><a href="team-details.html">Team Details</a></li>
                                       </ul>
                                   </li>
                                   <li><a href="#">Page</a>
                                       <ul>
                                           <li><a href="car-booking.html">Car Booking</a></li>
                                           <li><a href="car-list.html">Car List</a></li>
                                           <li><a href="car-details.html">Car Details</a></li>
                                           <li><a href="flight-home.html">Flight Home</a></li>
                                           <li><a href="flight-booking.html">Flight Booking</a></li>
                                           <li><a href="flight-details.html">Flight Details</a></li>
                                           <li><a href="hotel-list.html">Hotel List</a></li>
                                           <li><a href="hotel-details.html">Hotel Details</a></li>
                                           <li><a href="hotel-booking.html">Hotel Booking</a></li>
                                           <li><a href="shop.html">Shop</a></li>
                                           <li><a href="shop-details.html">Shop Details</a></li>
                                           <li><a href="cart.html">Cart</a></li>
                                           <li><a href="checkout.html">Checkout</a></li>
                                           <li><a href="contact-us.html">Contact Us</a></li>
                                           <li><a href="contact-us-v2.html">Contact Us 2</a></li>
                                           <li><a href="404.html">404 Error</a></li>
                                           <li><a href="404-v2.html">404 Error 2</a></li>
                                           <li><a href="#"></a></li>
                                       </ul>
                                   </li>
                                   <li><a href="blog-medium.html">Blog</a>
                                       <ul>
                                           <li><a href="blog-details.html">Blog Details</a></li>
                                           <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                           <li><a href="blog-right-sidebar.html">Blog right Sidebar</a></li>
                                       </ul>
                                   </li>
                               </ul> 
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-8 col-xs-6">
                            <div class="header-right">
                                <a href="#" class="travel-cart"><img src="assets/img/cart-icon-img.png" alt=""><span>0</span></a>
                                <a href="#" class="search-icon-header"><i class="zmdi zmdi-search"></i></a>
                                <ul class="language-selector">
                                    <li><a href="#" class="header-flug"><img src="assets/img/flug-1.jpg" alt=""><i class="zmdi zmdi-chevron-down"></i></a>
                                        <ul>
                                            <li><a href="#"><img src="assets/img/flug-2.jpg" alt=""> <span>India</span></a></li>
                                            <li><a href="#"><img src="assets/img/flug-3.jpg" alt=""> <span>NewZealand</span></a></li>
                                            <li><a href="#"><img src="assets/img/flug-4.jpg" alt=""> <span>Sri Lanka</span></a></li>
                                            <li><a href="#"><img src="assets/img/flug-5.jpg" alt=""> <span>Zimbabwe</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                
                                <a routerLink="/login" routerLinkActive="active">Login</a>
                                <a routerLink="/register" routerLinkActive="active">Register</a>
                            </div>
                            <div class="slicknav-menu-wrap"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="slider-area slider-area-hp1 owl-carousel text-center">
                <div class="single-slide-item hp1-slider-bg1" data-dot="<img src='assets/img/hp1-slider-small1.jpg' alt=''>">
                    <div class="single-slide-item-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h1>Travel the world</h1>
                                    <p>Writers and stars of Veep have responded incredulously to the news an Australian politician</p>
                                    <a href="tours.html" class="pink-btn">View All Tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide-item hp1-slider-bg2" data-dot="<img src='assets/img/hp1-slider-small2.jpg' alt=''>">
                    <div class="single-slide-item-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h1>Travel the world</h1>
                                    <p>Writers and stars of Veep have responded incredulously to the news an Australian politician</p>
                                    <a href="tours.html" class="pink-btn">View All Tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide-item hp1-slider-bg3" data-dot="<img src='assets/img/hp1-slider-small3.jpg' alt=''>">
                    <div class="single-slide-item-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h1>Travel the world</h1>
                                    <p>Writers and stars of Veep have responded incredulously to the news an Australian politician</p>
                                    <a href="tours.html" class="pink-btn">View All Tours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>